logzero
requests
streamlit
streamlit_chat
openai
langchain-core
langchain_community
langchain
langchain-text-splitters
faiss-cpu
langchain-openai
tiktoken
langchain_postgres
langchain-chroma
pymupdf
pymupdf4llm
fastembed
chromadb
langchain_ollama
